<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.zarah.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/ycodeServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>com.zarah.filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/pages/access/*</url-pattern>
    <url-pattern>/pages/user/updatePassword.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>com.zarah.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/pages/error500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DailyServlet</display-name>
    <servlet-name>DailyServlet</servlet-name>
    <servlet-class>com.zarah.web.DailyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyServlet</servlet-name>
    <url-pattern>/DailyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.zarah.web.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortServlet</display-name>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>com.zarah.web.SortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/sortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>com.zarah.web.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/billServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.zarah.web.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/passwordServlet</url-pattern>
  </servlet-mapping>
</web-app>